#renhehead()
#renheMenu("viewpoint")
$validator.getDynamicJavascript()
$validator.getStaticJavascript()
<div id="Position">位置：视点管理 / 视点管理 / 编辑</div>
<table width="100%"><tr><td><div id=msg></div></td></tr></table>
#if($!updated)
	<script type="text/javascript">showmsg(true,"编辑成功!",msg);</script>
#end
##set($actionUrl = "/viewpoint/actions.html?method=update")
<div id="contop">
	<div id="contopl"></div>
	<div id="contopr"></div>
</div>

<div id="conbg">
#########  视点编辑   #########
<div class=contitle>
<div class=leftmain>视点编辑</div>
<div class=rightmain>&nbsp;&nbsp;<a href="/viewpoint/actions.html?method=list">&#171;返回</a></div>
</div>
<div class=conmain>
	#parse( "/WEB-INF/pages/viewpoint/form.vm" )
</div>
</div>


#renheend()