#if($dhszList)
<div id="listhead">
		<div id="listheadleftimg"></div>
		<div id="listheadrightimg"></div>
	</div>
	<table width="99%" border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td class="tableheadingbg">档号项</td>
            <td class="tableheadingbg">长度</td>
            <td class="tableheadingbg">链接字符</td>
            <td class="tableheadingbg">序号</td>
			<td class="tableheadingbg">操作</td>
          </tr>
		#foreach($biz in $dhszList)
		<tr>
			<td class="tablelistbg">$biz.structure.znName</td>
			<td class="tablelistbg">$biz.len</td>
			<td class="tablelistbg">$biz.title</td>
			<td class="tablelistbg">$biz.taxis</td>
			<td class="tablelistbg">
				<a href="/dhsz/actions.html?method=update&sid=$vMUtils.encrypt($biz.id)&infoSortIds=$vMUtils.encrypt($biz.infoSortId)"  >编辑</a>
				<a href="/dhsz/actions.html?method=delete&sid=$vMUtils.encrypt($biz.id)&infoSortId=$vMUtils.encrypt($biz.infoSortId)"  >删除</a>
			</td>
         </tr>
		#end
      </table>
#end
<br>

<table width="100%" border="0" cellpadding="4" cellspacing="1" >
	<tr>
		<td >
			<form name="dhszForm" method="post" action="$!actionUrl" onSubmit = "return validateDhszForm(this);">
				<input type=hidden name=id value=$!bizObj.id>
				#if($infoSortId>0)
					<input type=text name=infoSortId value=$!infoSortId>
				#else
					<input type=text name=infoSortId value=$!bizObj.infoSortId>
				#end
				<table width="100%" border="0" cellpadding="2" cellspacing="3">
					<tr> 
						<td bgcolor="#eeeee5" width="20%">档号项:
						</td>
						<td>
							<select name="structureId" class="pulldown">
								<option value="">-请选择-
								</option>
								#if($structureList)
									#foreach($structure in $structureList)
										<option value="$structure.id" #isSelected("$structure.id" $!bizObj.structureId)>$structure.znName
										</option>
									#end
								#end
							</select>
	
							##showListSelect($structureList "structureId" "$!bizObj.structureId")#showMustFill()
						</td>
					</tr>
					<tr> 
						<td bgcolor="#eeeee5" width="20%">长度:
						</td>
						<td>
							#showFormText("len" "$!bizObj.len" 20)#showMustFill()
						</td>
					</tr>
					<tr> 
						<td bgcolor="#eeeee5" width="20%">链接字符:
						</td>
						<td>
							#showFormText("title" "$!bizObj.title" 20)#showMustFill() 一般采用 . - / （ ）等字符
						</td>
					</tr>
					<tr> 
						<td bgcolor="#eeeee5" width="20%">序号:
						</td>
						<td>
							#showFormText("taxis" "$!bizObj.taxis" 20)#showMustFill()
						</td>
					</tr>
				</table>
				<table width="100%" border="0" cellspacing="4" cellpadding="0">
					<tr>
						<td  align="center" >
							#parse( "/WEB-INF/pages/common/form_insertbutton.vm" )
						</td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
</table>
