#renhehead()
#renheMenu("infosort")
<table width="100%"><tr><td><div id=msg></div></td></tr></table>
<div id="conbg">
<div class=contitle>
<div class=leftmain>位置：#foreach($biz in $infoSortDtoList)
 	$biz.name &gt;
 #end 编辑信息分类</div>
<div class=rightmain>&nbsp;&nbsp;<a href="/infosort/actions.html?method=list">&#171;返回</a></div>
<div class=rightmain></div>
</div>
$validator.getDynamicJavascript()
$validator.getStaticJavascript()
<table width="100%"><tr><td><div id=message></div></td></tr></table>
#if($!nameExits)
<script>showmsg(false,"信息分类名重复",message);</script>
#end
#if($!updated)
	<script type="text/javascript">showmsg(true,"更新成功!",msg);</script>
#end
#set($actionUrl="/infosort/actions.html?method=update&insert=y")
<div class=conmain>
	#parse( "/WEB-INF/pages/infosort/form.vm" )
</div>
<br></div>
#renheend()	