#renhehead()
#renheMenu("callboard")

<div id="Position">位置：网站公告 / 公告信息维护 </div>
<div id=addbut>
#set($addNewLink = "/callboard/actions.html?method=insert")
#set($addNewLinkText = "新增公告")
#parse( "/WEB-INF/pages/common/search_add_new_link.vm" )
</div>

<table width="99%" border="0" cellpadding="0" cellspacing="0" id="searchform">
              <tr>
                <td width="10" height="10"><img src="/images/s_1.gif" width="10" height="10" /></td>
                <td></td>
                <td width="10"><img src="/images/s_2.gif" width="10" height="10" /></td>
              </tr>
              <tr>
                <td></td>				
                <td>
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<form name="searchForm" method="post" action="/callboard/actions.html?method=list&cm=sys4"> 
			<input type = hidden name="searchAction" value=y>
			<tr>
				<td>
					<table width="100%" border="0" cellpadding="0" cellspacing="1">
						<tr>
							<td >
								<table width="100%" border="0" cellpadding="0" cellspacing="0">

									<tr>
										<td> 
											<table cellspacing="2">
												<tr> 
													<td>标题:
													</td>
													<td>
														<input name="subject" type="text" class="inputfield" value="$!subject">
													</td>
													<td>内容:
													</td>
													<td>
														<input name="content" type="text" class="inputfield" value="$!content">
													</td>
													<td>#parse( "/WEB-INF/pages/common/search_searchbutton.vm" )</td>
												</tr>
											</table>
											
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</form>
	</table>
	
	</td>
			<td>
				</td>
				  </tr>
              <tr>
                <td height="10"><img src="/images/s_3.gif" width="10" height="10" /></td>
                <td></td>
                <td><img src="/images/s_4.gif" width="10" height="10" /></td>
              </tr>
          </table>
	############ list ############
	#if($!$bizObjList)
		#set($urlPre = "/callboard/actions.html?method=search")
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
				  
				  #parse( "/WEB-INF/pages/common/page.vm" )
				  <div id="listhead">
								<div id="listheadleftimg"></div>
								<div id="listheadrightimg"></div>
							  </div>
							  
  <table width="99%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="60%" class="tableheadingbg">标题 </td>
                        ##
						<td width="20%" class="tableheadingbg">公告人 </td>
                         
                          <td width="20%" class="tableheadingbg">操作 </td>
                        </tr>
    #set($bg = 1)
    #foreach($callboarddate in $bizObjList)
    <tr onmouseover="this.bgColor='#fffaaf'" onmouseout="this.bgColor='#ffffff'" height=25>
      <td class="tablelistbg">&nbsp;<a href="/callboard/actions.html?method=detail&sid=$vMUtils.encrypt($callboarddate.id)"  >$!callboarddate.subject</a></td>
                      
					  <td class="tablelistbg">&nbsp;#showMemberName($!callboarddate.userId) </td>
                        <td class="tablelistbg" >&nbsp;<a href="/callboard/actions.html?method=update&sid=$vMUtils.encrypt($callboarddate.id)"  >编辑</a> | <a href="/callboard/actions.html?method=delete&sid=$vMUtils.encrypt($!callboarddate.id)" onclick="return confirm('确定删除吗？');"><font color="#FF0000">删除</font></a> </td>
              </tr>
    #end
  </table></td></tr>
              </table></td>
          </tr>
        </table>
#parse( "/WEB-INF/pages/common/page.vm" )
#else
	#if($searchNoResult)
		#parse( "/WEB-INF/pages/common/noresult.inc.vm" )
	#end
#end
#renheend()
