<iframe width=174 height=172 name="gToday:normal:/scripts/time/agenda.js"  src="/scripts/time/ipopeng.htm" scrolling="no" frameborder="0" style="visibility:visible; z-index:999; position:absolute; left:-500px; top:0px;"></iframe>     

<table width="100%" border="0" cellpadding="4" cellspacing="1" >
	<tr>
		<td >
			<form name="fileForm" method="post" action="$!actionUrl" onSubmit = "return validateFileForm(this);">
				<input type=hidden name=id value=$!bizObj.id>
				<input type=hidden name=infoSortId value=$!infoSortId>
				<input type=hidden name=status value=$!status>
				<table width="100%" border="0" cellpadding="2" cellspacing="3">
								##时间型和日期型
						#foreach($biz in $structureList)
						#set($strIndex=$biz.serialNumber)	
						#set($values="")
						#if($!bizObj.id>0)
							#if($strIndex=='a1')
							#set($values=$!bizObj.a1)
							#elseif($strIndex=='a2')
							#set($values=$!bizObj.a2)
							#elseif($strIndex=='a3')
						#set($values=$!bizObj.a3)
							#elseif($strIndex=='a4')
							#set($values=$!bizObj.a4)
							#elseif($strIndex=='a5')
							#set($values=$!bizObj.a5)
							#elseif($strIndex=='a6')
							#set($values=$!bizObj.a6)
							#elseif($strIndex=='a7')
							#set($values=$!bizObj.a7)
							#elseif($strIndex=='a8')
							#set($values=$!bizObj.a8)
								#elseif($strIndex=='a9')
							#set($values=$!bizObj.a9)
							#elseif($strIndex=='a10')
								#set($values=$!bizObj.a10)
							#elseif($strIndex=='a11')
								#set($values=$!bizObj.a11)
							#elseif($strIndex=='a12')
								#set($values=$!bizObj.a12)
							#elseif($strIndex=='a13')
								#set($values=$!bizObj.a13)
							#elseif($strIndex=='a14')
								#set($values=$!bizObj.a14)
							#elseif($strIndex=='a15')
								#set($values=$!bizObj.a15)
							#elseif($strIndex=='a16')
							#set($values=$!bizObj.a16)
							#elseif($strIndex=='a17')
							#set($values=$!bizObj.a17)
							#elseif($strIndex=='a18')
							#set($values=$!bizObj.a18)
							#elseif($strIndex=='a19')
								#set($values=$!bizObj.a19)
							#elseif($strIndex=='a20')
								#set($values=$!bizObj.a20)
							#elseif($strIndex=='a21')
								#set($values=$!bizObj.a21)
							#elseif($strIndex=='a22')
								#set($values=$!bizObj.a22)
							#elseif($strIndex=='a23')
								#set($values=$!bizObj.a23)
							#elseif($strIndex=='a24')
								#set($values=$!bizObj.a24)
							#elseif($strIndex=='a25')
								#set($values=$!bizObj.a25)
							#elseif($strIndex=='a26')
							#set($values=$!bizObj.a26)
							#elseif($strIndex=='a27')
							#set($values=$!bizObj.a27)
							#elseif($strIndex=='a28')
							#set($values=$!bizObj.a28)
							#elseif($strIndex=='a29')
							#set($values=$!bizObj.a29)
							#elseif($strIndex=='a30')
							#set($values=$!bizObj.a30)
							#elseif($strIndex=='a31')
							#set($values=$!bizObj.a31)
							#elseif($strIndex=='a32')
							#set($values=$!bizObj.a32)
							#elseif($strIndex=='a33')
							#set($values=$!bizObj.a33)
							#elseif($strIndex=='a34')
							#set($values=$!bizObj.a34)
							#elseif($strIndex=='a35')
							#set($values=$!bizObj.a35)
							#elseif($strIndex=='a36')
							#set($values=$!bizObj.a36)
							#elseif($strIndex=='a37')
							#set($values=$!bizObj.a37)
							#elseif($strIndex=='a38')
							#set($values=$!bizObj.a38)
							#elseif($strIndex=='a39')
							#set($values=$!bizObj.a39)
							#elseif($strIndex=='a40')
							#set($values=$!bizObj.a40)
							#elseif($strIndex=='a41')
							#set($values=$!bizObj.a41)
							#elseif($strIndex=='a42')
							#set($values=$!bizObj.a42)
							#elseif($strIndex=='a43')
							#set($values=$!bizObj.a43)
							#elseif($strIndex=='a44')
							#set($values=$!bizObj.a44)
							#elseif($strIndex=='a45')
							#set($values=$!bizObj.a45)
							#elseif($strIndex=='a46')
							#set($values=$!bizObj.a46)
							#elseif($strIndex=='a47')
							#set($values=$!bizObj.a47)
							#elseif($strIndex=='a48')
							#set($values=$!bizObj.a48)
							#elseif($strIndex=='a49')
							#set($values=$!bizObj.a49)
							#elseif($strIndex=='a50')
							#set($values=$!bizObj.a50)
							#end
						#end
						#if($status==1 && $biz.ifTwo==0)
						<tr> 
							<td bgcolor="#eeeee5" width="20%">$biz.znName:
							</td>
							<td>
								#if($biz.length>200)
									#showFormTextarea("$biz.serialNumber" "$values" 3)
								#else
									#if($biz.type>=3)
										<input name="$!biz.serialNumber" type="text" size="10" maxlength="10" value="$values" />
								        <a onclick="gfPop.fPopCalendar(document.fileForm.$!biz.serialNumber);return false;">
								       		<img name="popcal" align="absmiddle" src="/images/calbtn.gif" width="34" height="22" border="0" alt="日历标签"/>
								        </a>
									#else
										#if($biz.inputFashion==1)
											#if($biz.dictionaryName==0)
												#set($indexNum=-1)
											#else
												#set($indexNum=$biz.dictionaryName)
											#end
											#showListSelect($vMUtils.getDictionarySortByParentId($indexNum) "$biz.serialNumber" $values)
										#else
											#showFormText("$biz.serialNumber" "$values" 20)
										#end
										
									#end					
								#end
							</td>
						</tr>
						#elseif($status==2 && ($biz.ifTwo==0 || $biz.ifThree==0))
							<tr> 
							<td bgcolor="#eeeee5" width="20%">$biz.znName:
							</td>
							<td>
								#if($biz.length>200)
									#showFormTextarea("$biz.serialNumber" "$values" 3)
								#else
									#if($biz.type>=3)
										<input name="$!biz.serialNumber" type="text" size="10" maxlength="10" value="$values" />
								        <a onclick="gfPop.fPopCalendar(document.fileForm.$!biz.serialNumber);return false;">
								       		<img name="popcal" align="absmiddle" src="/images/calbtn.gif" width="34" height="22" border="0" alt="日历标签"/>
								        </a>
									#else
										#if($biz.inputFashion==1)
											#if($biz.dictionaryName==0)
												#set($indexNum=-1)
											#else
												#set($indexNum=$biz.dictionaryName)
											#end
											#showListSelect($vMUtils.getDictionarySortByParentId($indexNum) "$biz.serialNumber" $values)
										#else
											#showFormText("$biz.serialNumber" "$values" 20)
										#end
										
									#end					
								#end
							</td>
						</tr>
						#else
						<tr> 
							<td bgcolor="#eeeee5" width="20%">$biz.znName:
							</td>
							<td>
								#if($biz.length>200)
									#showFormTextarea("$biz.serialNumber" "$values" 3)
								#else
									#if($biz.type>=3)
										<input name="$!biz.serialNumber" type="text" size="10" maxlength="10" value="$values" />
								        <a onclick="gfPop.fPopCalendar(document.fileForm.$!biz.serialNumber);return false;">
								       		<img name="popcal" align="absmiddle" src="/images/calbtn.gif" width="34" height="22" border="0" alt="日历标签"/>
								        </a>
									#else
										#if($biz.inputFashion==1)
											#if($biz.dictionaryName==0)
												#set($indexNum=-1)
											#else
												#set($indexNum=$biz.dictionaryName)
											#end
											#showListSelect($vMUtils.getDictionarySortByParentId($indexNum) "$biz.serialNumber" $values)
										#else
											#showFormText("$biz.serialNumber" "$values" 20)
										#end
										
									#end					
								#end
							</td>
						</tr>
						#end
						
						
						#set($index = $index+1)
						#end					
					</table>
					<table width="100%" border="0" cellspacing="4" cellpadding="0">
							<tr>
								<td  align="center" >
									#parse( "/WEB-INF/pages/common/form_insertbutton.vm" )
								</td>
							</tr>
						</table>
			</form>
		</td>
	</tr>
</table>


