#if($!fileList)
<table width="99%" border="0" cellpadding="0" cellspacing="0" >
          <tr>
          #foreach($biz in $structureList)
          	#if($biz.isLists==1)
            <td class="tableheadingbg">$biz.znName</td>
            #end
          #end
          <td class="tableheadingbg">操作</td>
          </tr>
		
				#foreach($!file in $!fileList)
				<tr>
					#foreach($biz in $structureList)
						#if($biz.isLists==1)
							#set($strIndex=$biz.serialNumber)
							#if($strIndex=='a1')
							<td class="tablelistbg"> 
							 &nbsp;#if($!file.a1!='null')$!file.a1#end</td>
							#elseif($strIndex=='a2')
							<td class="tablelistbg">&nbsp;#if($!file.a2!='null')$!file.a2#end</td>
							#elseif($strIndex=='a3')
							<td class="tablelistbg">&nbsp;#if($!file.a3!='null')$!file.a3#end</td>
							#elseif($strIndex=='a4')
							<td class="tablelistbg">&nbsp;#if($!file.a4!='null')$!file.a4#end</td>
							#elseif($strIndex=='a5')
							<td class="tablelistbg">&nbsp;#if($!file.a5!='null')$!file.a5#end</td>
							#elseif($strIndex=='a6')
							<td class="tablelistbg">&nbsp;#if($!file.a6!='null')$!file.a6#end</td>
							#elseif($strIndex=='a7')
							<td class="tablelistbg">&nbsp;#if($!file.a7!='null')$!file.a7#end</td>
							#elseif($strIndex=='a8')
							<td class="tablelistbg">&nbsp;#if($!file.a8!='null')$!file.a8#end</td>
							#elseif($strIndex=='a9')
							<td class="tablelistbg">&nbsp;#if($!file.a9!='null')$!file.a9#end</td>
							#elseif($strIndex=='a10')
							<td class="tablelistbg">&nbsp;#if($!file.a10!='null')$!file.a10#end</td>
							#elseif($strIndex=='a11')
							<td class="tablelistbg">&nbsp;#if($!file.a11!='null')$!file.a11#end</td>
							#elseif($strIndex=='a12')
							<td class="tablelistbg">&nbsp;#if($!file.a12!='null')$!file.a12#end</td>
							#elseif($strIndex=='a13')
							<td class="tablelistbg">&nbsp;#if($!file.a13!='null')$!file.a13#end</td>
							#elseif($strIndex=='a14')
							<td class="tablelistbg">&nbsp;#if($!file.a14!='null')$!file.a14#end</td>
							#elseif($strIndex=='a15')
							<td class="tablelistbg">&nbsp;#if($!file.a15!='null')$!file.a15#end</td>
							#elseif($strIndex=='a16')
							<td class="tablelistbg">&nbsp;#if($!file.a16!='null')$!file.a16#end</td>
							#elseif($strIndex=='a17')
							<td class="tablelistbg">&nbsp;#if($!file.a17!='null')$!file.a17#end</td>
							#elseif($strIndex=='a18')
							<td class="tablelistbg">&nbsp;#if($!file.a18!='null')$!file.a18#end</td>
							#elseif($strIndex=='a19')
							<td class="tablelistbg">&nbsp;#if($!file.a19!='null')$!file.a19#end</td>
							#elseif($strIndex=='a20')
							<td class="tablelistbg">&nbsp;#if($!file.a20!='null')$!file.a20#end</td>
							#elseif($strIndex=='a21')
							<td class="tablelistbg">&nbsp;#if($!file.a21!='null')$!file.a21#end</td>
							#elseif($strIndex=='a22')
							<td class="tablelistbg">&nbsp;#if($!file.a22!='null')$!file.a22#end</td>
							#elseif($strIndex=='a23')
							<td class="tablelistbg">&nbsp;#if($!file.a23!='null')$!file.a23#end</td>
							#elseif($strIndex=='a24')
							<td class="tablelistbg">&nbsp;#if($!file.a24!='null')$!file.a24#end</td>
							#elseif($strIndex=='a25')
							<td class="tablelistbg">&nbsp;#if($!file.a25!='null')$!file.a25#end</td>
							#elseif($strIndex=='a26')
							<td class="tablelistbg">&nbsp;#if($!file.a26!='null')$!file.a26#end</td>
							#elseif($strIndex=='a27')
							<td class="tablelistbg">&nbsp;#if($!file.a27!='null')$!file.a27#end</td>
							#elseif($strIndex=='a28')
							<td class="tablelistbg">&nbsp;#if($!file.a28!='null')$!file.a28#end</td>
							#elseif($strIndex=='a29')
							<td class="tablelistbg">&nbsp;#if($!file.a29!='null')$!file.a29#end</td>
							#elseif($strIndex=='a30')
							<td class="tablelistbg">&nbsp;#if($!file.a30!='null')$!file.a30#end</td>
							#elseif($strIndex=='a31')
							<td class="tablelistbg">&nbsp;#if($!file.a31!='null')$!file.a31#end</td>
							#elseif($strIndex=='a32')
							<td class="tablelistbg">&nbsp;#if($!file.a32!='null')$!file.a32#end</td>
							#elseif($strIndex=='a33')
							<td class="tablelistbg">&nbsp;#if($!file.a33!='null')$!file.a33#end</td>
							#elseif($strIndex=='a34')
							<td class="tablelistbg">&nbsp;#if($!file.a34!='null')$!file.a34#end</td>
							#elseif($strIndex=='a35')
							<td class="tablelistbg">&nbsp;#if($!file.a35!='null')$!file.a35#end</td>
							#elseif($strIndex=='a36')
							<td class="tablelistbg">&nbsp;#if($!file.a36!='null')$!file.a36#end</td>
							#elseif($strIndex=='a37')
							<td class="tablelistbg">&nbsp;#if($!file.a37!='null')$!file.a37#end</td>
							#elseif($strIndex=='a38')
							<td class="tablelistbg">&nbsp;#if($!file.a38!='null')$!file.a38#end</td>
							#elseif($strIndex=='a39')
							<td class="tablelistbg">&nbsp;#if($!file.a39!='null')$!file.a39#end</td>
							#elseif($strIndex=='a40')
							<td class="tablelistbg">&nbsp;#if($!file.a40!='null')$!file.a40#end</td>
							#elseif($strIndex=='a41')
							<td class="tablelistbg">&nbsp;#if($!file.a41!='null')$!file.a41#end</td>
							#elseif($strIndex=='a42')
							<td class="tablelistbg">&nbsp;#if($!file.a42!='null')$!file.a42#end</td>
							#elseif($strIndex=='a43')
							<td class="tablelistbg">&nbsp;#if($!file.a43!='null')$!file.a43#end</td>
							#elseif($strIndex=='a44')
							<td class="tablelistbg">&nbsp;#if($!file.a44!='null')$!file.a44#end</td>
							#elseif($strIndex=='a45')
							<td class="tablelistbg">&nbsp;#if($!file.a45!='null')$!file.a45#end</td>
							#elseif($strIndex=='a46')
							<td class="tablelistbg">&nbsp;#if($!file.a46!='null')$!file.a46#end</td>
							#elseif($strIndex=='a47')
							<td class="tablelistbg">&nbsp;#if($!file.a47!='null')$!file.a47#end</td>
							#elseif($strIndex=='a48')
							<td class="tablelistbg">&nbsp;#if($!file.a48!='null')$!file.a48#end</td>
							#elseif($strIndex=='a49')
							<td class="tablelistbg">&nbsp;#if($!file.a49!='null')$!file.a49#end</td>
							#elseif($strIndex=='a50')
							<td class="tablelistbg">&nbsp;#if($!file.a50!='null')$!file.a50#end</td>
							#elseif($strIndex=='a51')
							<td class="tablelistbg">&nbsp;#if($!file.a51!='null')$!file.a51#end</td>
							#elseif($strIndex=='a52')
							<td class="tablelistbg">&nbsp;#if($!file.a52!='null')$!file.a52#end</td>
							#elseif($strIndex=='a53')
							<td class="tablelistbg">&nbsp;#if($!file.a53!='null')$!file.a53#end</td>
							#elseif($strIndex=='a54')
							<td class="tablelistbg">&nbsp;#if($!file.a54!='null')$!file.a54#end</td>
							#elseif($strIndex=='a55')
							<td class="tablelistbg">&nbsp;#if($!file.a55!='null')$!file.a55#end</td>
							#elseif($strIndex=='a56')
							<td class="tablelistbg">&nbsp;#if($!file.a56!='null')$!file.a56#end</td>
							#elseif($strIndex=='a57')
							<td class="tablelistbg">&nbsp;#if($!file.a57!='null')$!file.a57#end</td>
							#elseif($strIndex=='a58')
							<td class="tablelistbg">&nbsp;#if($!file.a58!='null')$!file.a58#end</td>
							#elseif($strIndex=='a59')
							<td class="tablelistbg">&nbsp;#if($!file.a59!='null')$!file.a59#end</td>
							#elseif($strIndex=='a60')
							<td class="tablelistbg">&nbsp;#if($!file.a60!='null')$!file.a60#end</td>
							#end
						#end
					#end
						<td class="tablelistbg">&nbsp;
							#if($!infoSort.threeFloor!="")<a href="/file/actions.html?method=insert&parInfoSortIds=$vMUtils.encrypt($file.id)&infoSortIds=$vMUtils.encrypt($file.id)&statuses=$vMUtils.encrypt(2)&cm=$cm">新增$!infoSort.threeFloor</a>#end
							##if($file.a6!="126")	
								<a href="/file/actions.html?method=update&sid=$vMUtils.encrypt($parInfoSortId)&parInfoSortIds=$vMUtils.encrypt($file.id)&infoSortIds=$vMUtils.encrypt($infoSortId)&statuses=$vMUtils.encrypt($status)&cm=$cm"  >编辑</a>
								<a href="/file/actions.html?method=delete&sid=$vMUtils.encrypt($file.id)&parInfoSortIds=$vMUtils.encrypt($parInfoSortId)&infoSortIds=$vMUtils.encrypt($infoSortId)&statuses=$vMUtils.encrypt($status)&cm=$cm"  >删除</a>
								<a href="/accessory/actions.html?method=insert&fileIds=$vMUtils.encrypt($file.id)&cm=$cm"  >添加原文</a>
							##end
							
						</td>	
					</tr>
				#end
		
      </table>
<br><br>
#end
<iframe width=174 height=172 name="gToday:normal:/scripts/time/agenda.js"  src="/scripts/time/ipopeng.htm" scrolling="no" frameborder="0" style="visibility:visible; z-index:999; position:absolute; left:-500px; top:0px;"></iframe>     
<table width="100%" border="0" cellpadding="4" cellspacing="1" >
	<tr>
		<td >
			<form name="fileForm" method="post" action="$!actionUrl" onSubmit = "return validateFileForm(this);">
				<input type=hidden name=id value=$!bizObj.id>
				#if($!bizObj.id>0)
					<input type=hidden name=type value=$!bizObj.type>
				#else
					#if($parInfoSortId>0)
						<input type=hidden id=type name=type value="1">
					#else
						#if($type==0)
						<input type=hidden id=type name=type value="0">
						#elseif($type==1)
						<input type=hidden id=type name=type value="1">
						#else
						<input type=hidden id=type name=type value="-1">
						#end
					#end
				#end
				<input type=hidden name=infoSortId value=$!infoSortId>
				#if($!parInfoSortId>0)
				<input type=text name=parInfoSortId value=$!parInfoSortId>
				#else
				<input type=text name=parInfoSortId value=$!bizObj.parInfoSortId>
				#end
				<input type=hidden name=status value=$!status>
				<table width="100%" border="0" cellpadding="2" cellspacing="3">
								##时间型和日期型
						#foreach($biz in $structureList)
						#set($strIndex=$biz.serialNumber)	
						#set($values="")
						#if($!bizObj)
							#if($strIndex=='a1')
							#set($values=$!bizObj.a1)
							#elseif($strIndex=='a2')
							#set($values=$!bizObj.a2)
							#elseif($strIndex=='a3')
							#set($values=$!bizObj.a3)
							#elseif($strIndex=='a4')
							#set($values=$!bizObj.a4)
							#elseif($strIndex=='a5')
							#set($values=$!bizObj.a5)
							#elseif($strIndex=='a6')
							#set($values=$!bizObj.a6)
							#elseif($strIndex=='a7')
							#set($values=$!bizObj.a7)
							#elseif($strIndex=='a8')
							#set($values=$!bizObj.a8)
								#elseif($strIndex=='a9')
							#set($values=$!bizObj.a9)
							#elseif($strIndex=='a10')
								#set($values=$!bizObj.a10)
							#elseif($strIndex=='a11')
								#set($values=$!bizObj.a11)
							#elseif($strIndex=='a12')
								#set($values=$!bizObj.a12)
							#elseif($strIndex=='a13')
								#set($values=$!bizObj.a13)
							#elseif($strIndex=='a14')
								#set($values=$!bizObj.a14)
							#elseif($strIndex=='a15')
								#set($values=$!bizObj.a15)
							#elseif($strIndex=='a16')
							#set($values=$!bizObj.a16)
							#elseif($strIndex=='a17')
							#set($values=$!bizObj.a17)
							#elseif($strIndex=='a18')
							#set($values=$!bizObj.a18)
							#elseif($strIndex=='a19')
								#set($values=$!bizObj.a19)
							#elseif($strIndex=='a20')
								#set($values=$!bizObj.a20)
							#elseif($strIndex=='a21')
								#set($values=$!bizObj.a21)
							#elseif($strIndex=='a22')
								#set($values=$!bizObj.a22)
							#elseif($strIndex=='a23')
								#set($values=$!bizObj.a23)
							#elseif($strIndex=='a24')
								#set($values=$!bizObj.a24)
							#elseif($strIndex=='a25')
								#set($values=$!bizObj.a25)
							#elseif($strIndex=='a26')
							#set($values=$!bizObj.a26)
							#elseif($strIndex=='a27')
							#set($values=$!bizObj.a27)
							#elseif($strIndex=='a28')
							#set($values=$!bizObj.a28)
							#elseif($strIndex=='a29')
							#set($values=$!bizObj.a29)
							#elseif($strIndex=='a30')
							#set($values=$!bizObj.a30)
							#elseif($strIndex=='a31')
							#set($values=$!bizObj.a31)
							#elseif($strIndex=='a32')
							#set($values=$!bizObj.a32)
							#elseif($strIndex=='a33')
							#set($values=$!bizObj.a33)
							#elseif($strIndex=='a34')
							#set($values=$!bizObj.a34)
							#elseif($strIndex=='a35')
							#set($values=$!bizObj.a35)
							#elseif($strIndex=='a36')
							#set($values=$!bizObj.a36)
							#elseif($strIndex=='a37')
							#set($values=$!bizObj.a37)
							#elseif($strIndex=='a38')
							#set($values=$!bizObj.a38)
							#elseif($strIndex=='a39')
							#set($values=$!bizObj.a39)
							#elseif($strIndex=='a40')
							#set($values=$!bizObj.a40)
							#elseif($strIndex=='a41')
							#set($values=$!bizObj.a41)
							#elseif($strIndex=='a42')
							#set($values=$!bizObj.a42)
							#elseif($strIndex=='a43')
							#set($values=$!bizObj.a43)
							#elseif($strIndex=='a44')
							#set($values=$!bizObj.a44)
							#elseif($strIndex=='a45')
							#set($values=$!bizObj.a45)
							#elseif($strIndex=='a46')
							#set($values=$!bizObj.a46)
							#elseif($strIndex=='a47')
							#set($values=$!bizObj.a47)
							#elseif($strIndex=='a48')
							#set($values=$!bizObj.a48)
							#elseif($strIndex=='a49')
							#set($values=$!bizObj.a49)
							#elseif($strIndex=='a50')
							#set($values=$!bizObj.a50)
							#elseif($strIndex=='a51')
							#set($values=$!bizObj.a51)
							#elseif($strIndex=='a52')
							#set($values=$!bizObj.a52)
							#elseif($strIndex=='a53')
							#set($values=$!bizObj.a53)
							#elseif($strIndex=='a54')
							#set($values=$!bizObj.a54)
							#elseif($strIndex=='a55')
							#set($values=$!bizObj.a55)
							#elseif($strIndex=='a56')
							#set($values=$!bizObj.a56)
							#elseif($strIndex=='a57')
							#set($values=$!bizObj.a57)
							#elseif($strIndex=='a58')
							#set($values=$!bizObj.a58)
							#elseif($strIndex=='a59')
							#set($values=$!bizObj.a59)
							#elseif($strIndex=='a60')
							#set($values=$!bizObj.a60)
							#end
						#end
						#if($status==1 && $biz.ifTwo==0)
						<tr> 
							<td bgcolor="#eeeee5" width="20%">$biz.znName:
							</td>
							<td>
								#if($biz.length>200)
									#showFormTextarea("$biz.serialNumber" "$values" 3)
								#else
									#if($biz.type>=3)
										<input name="$!biz.serialNumber" type="text" size="10" maxlength="10" value="$values" />
								        <a onclick="gfPop.fPopCalendar(document.fileForm.$!biz.serialNumber);return false;">
								       		<img name="popcal" align="absmiddle" src="/images/calbtn.gif" width="34" height="22" border="0" alt="日历标签"/>
								        </a>
									#else
										#if($biz.inputFashion==1)
											#if($biz.dictionaryName==0)
												#set($indexNum=-1)
											#else
												#set($indexNum=$biz.dictionaryName)
											#end
											#showFormText("$biz.serialNumber" "$values" 12)
											<select name="selectName" class="pulldown" onchange="tochanages('$biz.serialNumber',this.value);">
												<option value="">-请选择-</option>
												#if($vMUtils.getDictionarySortByParentId($indexNum))
													#foreach($_resourceType in $vMUtils.getDictionarySortByParentId($indexNum))
														<option value="$_resourceType.name" #isSelected("$_resourceType.name" $selectValue )>$_resourceType.name
														</option>
													#end
												#end
											</select>
										#else
											#showFormText("$biz.serialNumber" "$values" 20)
										#end
										
									#end					
								#end
							</td>
						</tr>
						#elseif($status==2 && ($biz.ifTwo==0 || $biz.ifThree==0))
							<tr> 
							<td bgcolor="#eeeee5" width="20%">$biz.znName:
							</td>
							<td>
								#if($biz.length>200)
									#showFormTextarea("$biz.serialNumber" "$values" 3)
								#else
									#if($biz.type>=3)
										<input name="$!biz.serialNumber" type="text" size="10" maxlength="10" value="$values" />
								        <a onclick="gfPop.fPopCalendar(document.fileForm.$!biz.serialNumber);return false;">
								       		<img name="popcal" align="absmiddle" src="/images/calbtn.gif" width="34" height="22" border="0" alt="日历标签"/>
								        </a>
									#else
										#if($biz.inputFashion==1)
											#if($biz.dictionaryName==0)
												#set($indexNum=-1)
											#else
												#set($indexNum=$biz.dictionaryName)
											#end
											#showFormText("$biz.serialNumber" "$values" 12)
											<select name="selectName" class="pulldown" onchange="tochanages('$biz.serialNumber',this.value);">
												<option value="">-请选择-</option>
												#if($vMUtils.getDictionarySortByParentId($indexNum))
													#foreach($_resourceType in $vMUtils.getDictionarySortByParentId($indexNum))
														<option value="$_resourceType.name" #isSelected("$_resourceType.name" $selectValue )>$_resourceType.name
														</option>
													#end
												#end
											</select>
										#else
											#showFormText("$biz.serialNumber" "$values" 20)
										#end
										
									#end					
								#end
							</td>
						</tr>
						#else
						<tr> 
							<td bgcolor="#eeeee5" width="20%">$biz.znName:
							</td>
							<td>
								#if($biz.length>200)
									#showFormTextarea("$biz.serialNumber" "$values" 3)
								#else
									#if($biz.type>=3)
										<input name="$!biz.serialNumber" type="text" size="10" maxlength="10" value="$values" />
								        <a onclick="gfPop.fPopCalendar(document.fileForm.$!biz.serialNumber);return false;">
								       		<img name="popcal" align="absmiddle" src="/images/calbtn.gif" width="34" height="22" border="0" alt="日历标签"/>
								        </a>
									#else
										#if($biz.inputFashion==1)
											#if($biz.dictionaryName==0)
												#set($indexNum=-1)
											#else
												#set($indexNum=$biz.dictionaryName)
											#end
											#showFormText("$biz.serialNumber" "$values" 12)
											<select name="selectName" class="pulldown" onchange="tochanages('$biz.serialNumber',this.value);">
												<option value="">-请选择-</option>
												#if($vMUtils.getDictionarySortByParentId($indexNum))
													#foreach($_resourceType in $vMUtils.getDictionarySortByParentId($indexNum))
														<option value="$_resourceType.name" #isSelected("$_resourceType.name" $selectValue )>$_resourceType.name
														</option>
													#end
												#end
											</select>
										#else
											#showFormText("$biz.serialNumber" "$values" 20)
										#end
										
									#end					
								#end
							</td>
						</tr>
						#end
						#set($index = $index+1)
						#end					
					</table>
					<table width="100%" border="0" cellspacing="4" cellpadding="0">
						<tr>
							<td  align="center" >
								#parse( "/WEB-INF/pages/common/form_insertbutton.vm" )
							</td>
						</tr>
					</table>
			</form>
		</td>
	</tr>
</table>

<script>
function tochanages(name,value){
	if(name=='a6' && value=="需归档"){
		document.getElementById("type").value=0;
	}else if(name=='a6' && value=="已归档"){
		document.getElementById("type").value=1;
	}else if(name=='a6' && (value=="不归档"||value=="")){
		document.getElementById("type").value=-1;	
	}
	document.getElementById(name).value=value;
}
</script>


