<select name="${regionTag.province}" class="input" onchange="fitCity(${regionTag.formName}['${regionTag.city}'],${regionTag.formName}['${regionTag.province}'].value,'');fitDistrict(${regionTag.formName}['${regionTag.district}'],${regionTag.formName}['${regionTag.city}'].value,'');fitRegion(${regionTag.formName}['${regionTag.street}'],${regionTag.formName}['${regionTag.district}'].value,'');fitRegion(${regionTag.formName}['${regionTag.zone}'],${regionTag.formName}['${regionTag.street}'].value,'');fitRegion(${regionTag.formName}['${regionTag.community}'],${regionTag.formName}['${regionTag.zone}'].value,'');"></select>
<select name="${regionTag.city}" class="input" onChange="fitDistrict(${regionTag.formName}['${regionTag.district}'],${regionTag.formName}['${regionTag.city}'].value,'');fitRegion(${regionTag.formName}['${regionTag.street}'],${regionTag.formName}['${regionTag.district}'].value,'');fitRegion(${regionTag.formName}['${regionTag.zone}'],${regionTag.formName}['${regionTag.street}'].value,'');fitRegion(${regionTag.formName}['${regionTag.community}'],${regionTag.formName}['${regionTag.zone}'].value,'');"></select>
<select name="${regionTag.district}" class="input" onchange="fitRegion(${regionTag.formName}['${regionTag.street}'],${regionTag.formName}['${regionTag.district}'].value,'');fitRegion(${regionTag.formName}['${regionTag.zone}'],${regionTag.formName}['${regionTag.street}'].value,'');fitRegion(${regionTag.formName}['${regionTag.community}'],${regionTag.formName}['${regionTag.zone}'].value,'');"></select>
<select name="${regionTag.street}" class="input" onchange="fitRegion(${regionTag.formName}['${regionTag.zone}'],${regionTag.formName}['${regionTag.street}'].value,'');fitRegion(${regionTag.formName}['${regionTag.community}'],${regionTag.formName}['${regionTag.zone}'].value,'');"></select>
<select name="${regionTag.zone}" class="input" onchange="fitRegion(${regionTag.formName}['${regionTag.community}'],${regionTag.formName}['${regionTag.zone}'].value,'');"></select>
<select name="${regionTag.community}" class="input"></select>
<input type="text" name="${regionTag.detail}" size="30" value="" class="input"> цееф╨е