#renhehead()
#renheMenu("specialpath")
$validator.getDynamicJavascript()
$validator.getStaticJavascript()
<div id="Position">位置：工作助手 / 特殊路径管理 / 编辑</div>
<table width="100%"><tr><td><div id=msg></div></td></tr></table>
#if($!updated)
	<script type="text/javascript">showmsg(true,"更新成功!",msg);</script>
#end
##set($actionUrl = "/specialpath/actions.html?method=update")
<div id="contop">
	<div id="contopl"></div>
	<div id="contopr"></div>
</div>

<div id="conbg">
#########  编辑特殊路径   #########
<div class=contitle>
<div class=leftmain>编辑特殊路径</div>
<div class=rightmain>&nbsp;&nbsp;<a href="/specialpath/actions.html?method=list">&#171;返回</a></div>
</div>
<div class=conmain>
	#parse( "/WEB-INF/pages/specialpath/form.vm" )
</div>
</div>


#renheend()