#renhehead()
#renheMenu("infosort")
#set($addNewLink = "/infosort/actions.html?method=insert")
#set($addNewLinkText = "新增信息分类")
#parse( "/WEB-INF/pages/common/search_add_new_link.vm" )
#set($urlPre = "/infosort/actions.html?method=list")
#if($!${bizObjList})
<div id="listhead">
    <div id="listheadleftimg"></div>
    <div id="listheadrightimg"></div>
</div>
<form name="infoSortForm" method="post"
      action="/infosort/actions.html?method=insert&parentId=$vMUtils.encrypt($parentId)&insert=list">
    <table width="99%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td class="tableheadingbg">类目序号</td>
            <td class="tableheadingbg">类目名称</td>
            <td class="tableheadingbg">类目类型</td>
            <td class="tableheadingbg">创建时间</td>
            <td class="tableheadingbg">操作</td>
        </tr>
        </tbody>

        <tbody id="arrangableNodes">
        #set($lineindex=1)
        #foreach($biz in $bizObjList)
        <tr id="node${lineindex}">
            #set($lineindex=${lineindex}+1)
            <td class="tablelistbg">$biz.seq</td>
            <td class="tablelistbg">$biz.name</td>
            <td class="tablelistbg">
                #if($!biz.type=='0')
                顶层分类
                #elseif($!biz.type=='1')
                中间分类
                #elseif($!biz.type=='2')
                底层分类
                #end
            </td>
            <td class="tablelistbg">#showHHMMTime($!biz.timeCreate)</td>
            <td class="tablelistbg">
                <a href="/infosort/actions.html?method=insert&parentId=$vMUtils.encrypt($biz.id)">添加子分类</a>
                <a href="/infosort/actions.html?method=update&sid=$vMUtils.encrypt($biz.id)">编辑 </a>
                <a href="/infosort/actions.html?method=delete&sid=$vMUtils.encrypt($biz.id)">删除</a>
            </td>
        </tr>
        #end
        </tbody>
    </table>
    ##<p>
 ##    <a href="#" onclick="saveArrangableNodes();return false;">Save</a>
 ##</p>
 <!-- need by dragtable-->
    <div id="movableNode">
        <table>
            <tbody></tbody>
        </table>
    </div>
    <div style="position:absolute;display:none;" id="arrDestInditcator"><img src="../../../images/insert.gif"></div>
    <div id="arrDebug"></div>
    <!-- need end-->

    <table width="100%" border="0" cellspacing="4" cellpadding="0">
        <tr>
            <td align="left">
                <input type=button name="insert" onclick="saveArrangableNodes('infoSortForm');return false;" style="cursor:pointer"
                       value="保存" class=btn1_mouseout title="保存"/>
            </td>
        </tr>
    </table>
</form>
###parse( "/WEB-INF/pages/common/page.vm" )
#else
###parse( "/WEB-INF/pages/common/noresult.inc.vm" )
#end
#renheend()
