<script language="javascript">
	function tick() {
	   var today
	   today = new Date()
	   Clock.innerHTML = today.toLocaleString();
	   window.setTimeout("tick()", 1000);
	}
	function initial() {
	   dStyle = detail.style;
	   CLD.SY.selectedIndex=tY-1900;
	   CLD.SM.selectedIndex=tM;
	   drawCld(tY,tM);
	   tick();
	}
	window.onload = function(){
		tick();
		initArrangableNodes();
	}
</script>

<font id=Clock face=ARIAL  color="#ffffff" fize=9pt align="left"></font>
               
</body>