<tr>
<td class="td-title" align="center" colspan="3">$!{applet.jsValue}</td>
</tr>
<tr>
<td align="center" colspan="3"><br>
<CENTER>
<APPLET code="$!{applet.code}"  width="$!{applet.width}" height="$!{applet.height}" 
  id="$!{applet.type}_$!{applet.printCode}"
  name="$!{applet.type}_$!{applet.printCode}" archive="$!{applet.archive}" 
  codebase="$!{applet.contextPath}$!{applet.codebase}"  > 
  <PARAM name="img"  value="$!{applet.contextPath}$!{applet.image}" > 
  <PARAM name="FontType"  value="$!{applet.fontType}"  > 
  <PARAM name="FontSize"  value="$!{applet.fontSize}"  > 
  <PARAM name="FileName"  value="$!{applet.contextPath}$!{applet.dataFile}"  > 
  <PARAM name="PageWidth"  value="$!{applet.pageWidth}"  > 
  <PARAM name="PageHeight"  value="$!{applet.pageHeight}"  > 
</APPLET>
</CENTER>
<BR/>
</tr>
#if ($applet.printType =="1")
<tr align="right">
<td class="td-left" width="65%">
<span class="tip_star">*</span>
发票号码
</td>
<td class="td-right " width="35%">
<input type="text" name="invoiceNo$!{applet.type}_$!{applet.printCode}" size="25" value="">
</td>
<td class="td-left">
<div style="padding:4px;" align="right">
<span class=clsButtonFace><a href="javascript:callAjax1('$!{applet.contextPath}$!{applet.saveInvoiceUrl}','$!{applet.type}_$!{applet.printCode}');">保存</a><br></span>
</div>
</td>
</tr>
#else
<tr align="right">
<td class="td-left" width="65%">
<span class="tip_star">*</span>
发票号码
</td>
<td class="td-right " width="35%">
<input type="text" name="invoiceNo$!{applet.type}_$!{applet.printCode}" size="25" value="">
</td>
<td class="td-left">
<div style="padding:4px;" align="right">
<span class=clsButtonFace><a href="javascript:callAjax('$!{applet.contextPath}$!{applet.saveInvoiceUrl}','$!{applet.type}_$!{applet.printCode}');">打印</a><br></span>
</div>
</td>
</tr>
#end



			
