#if($fileDtoList)
<div id="listhead">
		<div id="listheadleftimg"></div>
		<div id="listheadrightimg"></div>
	</div>
	<table width="99%" border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td class="tableheadingbg">文件路径</td>
			<td class="tableheadingbg">操作</td>
          </tr>
		#foreach($biz in $fileDtoList)
		<tr>
			<td class="tablelistbg">$biz.filePath</td>
			<td class="tablelistbg">
				<a href="$biz.filePath" target="_blank">查看</a>
			</td>
         </tr>
		#end
      </table>
#end
<br>

<table width="100%" border="0" cellpadding="4" cellspacing="1" >
	<tr>
		<td >
			<form name="accessoryForm" method="post" action="$!actionUrl" enctype="multipart/form-data" onSubmit = "return validateAccessoryForm(this);">
				<input type=hidden name=id value=$!bizObj.id>
				<input type=hidden name=fileId value="$!fileId">
						<table width="100%" border="0" cellpadding="2" cellspacing="3">
							<tr> 
								<td bgcolor="#eeeee5" width="20%">文件:
								</td>
								<td>
									<input name="accessoryFiles" class="btn1_mouseout" type="file" value="">
								</td>
							</tr>
						</table>
						<table width="100%" border="0" cellspacing="4" cellpadding="0">
							<tr>
								<td  align="center" >
									#parse( "/WEB-INF/pages/common/form_insertbutton.vm" )
								</td>
							</tr>
						</table>
			</form>
		</td>
	</tr>
</table>
