#if($filePigeonholeList)
<div id="listhead">
		<div id="listheadleftimg"></div>
		<div id="listheadrightimg"></div>
	</div>
	<table width="99%" border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td class="tableheadingbg">原表字段名</td>
            <td class="tableheadingbg">目标表字段名</td>
			<td class="tableheadingbg">操作</td>
          </tr>
		#foreach($biz in $filePigeonholeList)
		<tr>
			<td class="tablelistbg">$biz.infoColumn</td>
			<td class="tablelistbg">$biz.infoColumnTo</td>
			<td class="tablelistbg">
				<a href="/filepigeonhole/actions.html?method=delete&sid=$vMUtils.encrypt($biz.id)&infoSortIds=$vMUtils.encrypt($infoSortId)&infoSortIdsTo=$vMUtils.encrypt($infoSortIdTo)&statuses=$vMUtils.encrypt($&status)&cm=$cm" onclick="return confirm('您确实要删除吗？')" >删除</a>
			</td>
         </tr>
		#end
      </table>
#end
<br><br>
<table width="100%" border="0" cellpadding="4" cellspacing="1" >
	<tr>
		<td >
			<form name="filepigeonholeForm" method="post" action="$!actionUrl" onSubmit = "return validateFilePigeonholeForm(this);">
				<input type=hidden name=id value=$!bizObj.id>
				<input type=hidden name=infoSortId value=$!infoSortId>
				<input type=hidden name=status value=$!status>
				<input type=hidden name=infoSortIdsTo value=$!infoSortIdTo>
				<table width="100%" border="0" cellpadding="2" cellspacing="3">
						<tr> 
							<td bgcolor="#eeeee5" width="20%">原表字段:
							</td>							
							<td>
							<select name="infoColumn" >
								<option value="">-请选择-</option>
							#foreach($biz in $structureList)
								<option value="$biz.serialNumber">$biz.znName</option>
								$biz.serialNumber
							#end
							</td>
						</tr>
						<tr> 
							<td bgcolor="#eeeee5" width="20%">目标分类:
							</td>							
							<td>
							<select name="infoSortIdsTo" onchange="showTab(this.value)">
								<option value="">-请选择-</option>
								#foreach($biz in $infoSortList)
									<option value="$biz.id">$biz.name</option>
								#end
							</td>
						</tr>
						<tr> 
							<td bgcolor="#eeeee5" width="20%">分类字段:
							</td>							
							<td>
							#foreach($bizs in $infoSortList)
								<select name="" id="$bizs.id" style="display:none" onchange="toValue(this.value);">
									<option value="">-请选择-</option>
								#foreach($structure in $vMUtils.getStructureByInfoSortId($bizs.id,$status))
									<option value="$structure.serialNumber">$structure.znName</option>
								#end
								</select>
							#end
							</td>
						</tr>
					</table>
					<table width="100%" border="0" cellspacing="4" cellpadding="0">
						<tr>
							<td  align="center" >
								#parse( "/WEB-INF/pages/common/form_insertbutton.vm" )
							</td>
						</tr>
					</table>
					<input id="infoColumnTo" type=hidden name="infoColumnTo" value="$!biz.infoColumnTo">	
					<input id="showValue" type=hidden name="showValue" value="$!biz.infoSortIdsTo">	
			</form>
		</td>
	</tr>
</table>
<script>
	
	function showTab(id){
		var showValue =document.getElementById("showValue").value;
		if(showValue>0){
			document.getElementById(showValue).style.display="none";
		}
		
		document.getElementById(id).style.display="";
		document.getElementById("showValue").value=id;
	}
	
	function toValue(id){
		document.getElementById("infoColumnTo").value=id;
	}
	
</script>


